@import './Colors';
@import './utils';
.cart{
    // border: 5px solid $footer;
    border-right: none;
    border-top-left-radius: 10px;
    height: 100%;
    width: 260px;
    position: absolute;
    top: $header-small;
    z-index: 100;
    background:$primary-pink;
    overflow: hidden;
    // transition: all 500ms ease-in-out;
    &.active{
        position: fixed;

    }
    &.not-active{
        position: fixed;

    }
    .cart-container{
        width: 100%;
        max-width: 260px;
        // height: 460px;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: top ease;
        background:$primary-pink;

        .price{
            height: 10%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 0;
            font-size: 2rem;
            font-style: italic;
            background-color: $primary-gold;
            border-bottom: 5px solid $footer;
            font-weight: 800;
            span{
                font-weight: 400;
            }
        }
    }

    
}

@keyframes slideInCart{
    from{
        right: -260px;
    }
    to{
        right: 0px;
    }
}
@keyframes slideOutCart{
    from{
        right: 0px;
    }
    to{
        right: -260px;
    }
}
@keyframes slideInCartLarge{
    from{
        right: -400px;
    }
    to{
        right: 0px;
    }
}
@keyframes slideOutCartLarge{
    from{
        right: 0px;
    }
    to{
        right: -400px;
    }
}




@media screen and (min-width: 350px){

}
@media screen and (min-width: 480px){
   
}


@media screen and (min-width: 576px){
    .cart{
        top: $header-med;
    }
}
@media screen and (min-width: 768px){
    
}
@media screen and (min-width: 992px){
    .cart{
        top: $header-large;
    }
}
@media screen and (min-width: 1200px){
    .cart{
        width: 400px;

    }
}
@media(min-width: 568px) and (max-height: 414px){
   
}

