.cart-item{
    height: 10%;
    width: 100%;
    .container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .item-img{
            img{
                max-height: 50px;
            }
            
        }

        .item-name{
            width: 25%;
        }

        .item-quanity{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}