.cart{
    height: 100%;
    width: 260px;
    position: absolute;
    top: 75px;
    right: 260px;
    z-index: 100;
    background: #333;
    overflow: hidden;
    transition: all ease-in-out;
    &.active{
        position: fixed;
    }
    .cart-container{
        width: 100%;
        max-width: 260px;
        // height: 460px;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: top ease;
        background: #fff;
        }

    .sidebar-container-links{
        height: 476px;
        width: 100%;
        max-width: 260px;

        ul{
            width: 98%;
            max-width: 260px;

            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            li{
                height: 50px;
                width: 100%;
                padding-left: 1rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-bottom: 1px solid #f0eeee;


                .nav{
                    height: 100%;
                    width: 100%;
                    max-width: 260px;

                    color: #333;  
                    letter-spacing: 1px;
                    text-decoration: none;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-left: 10px;
                    &:visited{
                        color: #333;
                        text-decoration: none;
                    }
                    &:hover{
                        background-color: #333;
                        color: #333;
                    }

                }
                
            }
        }

    }

}

@keyframes slideIn{
    from{
        right: -260px;
    }
    to{
        right: 0;
    }
}
@keyframes slideOut{
    from{
        right: 0px;
    }
    to{
        right: -260px;
    }
}

