@import './Colors';
@import './utils';

.product-page{
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    margin-top: $header-small;
    .product-container{
        height: 100%;
        width: 100%;
        min-height: 650px;
        max-height: 900px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        .product{
            width: 100%;
            height: 100%;
            min-height: 650px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .img-display{
                height: 50%;
                width: 90%;
                .img-container{
                    height: 100%;
                    width: 100%;
                    min-height: 360px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        max-width: 100%;
                        max-height: 375px;
                    }
                }
                .img-extra{
                    margin-top: 3px;
                    height: 20%;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .extra-small{
                        height: 100%;
                        width: 25%;
                        padding-right: 2px;

                        img{
                            max-width: 100%;
                            max-height: 35px;
                            cursor: pointer;


                        }
                    }
                }

            }
           
            .name{
                height: 10%;
                width: 90%;
                margin-bottom: 10px;
            }
            .price{
                height: 5%;
                width: 90%;
                text-align: left;
                font-size: 1.1rem;
                font-style: italic;
                margin-bottom: 10px;

            }
            .desc{
                height: 20%;
                width: 90%;
                font-size: 0.9rem;
                text-align: left;
                padding-bottom: 10px;
                line-height: 1.4;
            }
            .details{
                height: 10%;
                width: 90%;
                font-size: 0.8rem;
                font-style: italic;
                padding-bottom: 10px;
                font-weight: 600;

                p{
                    padding-bottom: 5px;
                }

            }
        }
        .cart-option{
            height: 10%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;


            button{
                border: none;
                background-color: $primary-pink;
                padding: 10px 25px;
                border-radius: 5px;
                color: #fff;
            }
        }
    }

    
    .similar-products{
        max-height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1rem;
        .similar-title{
            width: 100%;
            height: 20%;
            max-height: 100px;
            padding: 20px 0;

            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $purple-light;
            color: #fff;

            h2{
                font-size: 1.8rem;
            }
        }
        .similar-container{
            height: 50%;
            width: 100%;
            max-height: 300px;
        }
    }
}

@media screen and (min-width: 350px){
    .product-page{
        .product-container{
            height: 100%;
            width: 100%;
            min-height: 650px;
            max-height: 900px;
            .product{
                width: 100%;
                height: 100%;
                min-height: 650px;
                .img-display{
                    height: 50%;
                    width: 90%;
                    .img-container{
                        min-height: 375px;
                        img{
                            max-width: 100%;
                            max-height: 375px;
                        }
                    }
                    .img-extra{
                        margin-top: 3px;
                        height: 15%;
                        width: 100%;
                        .extra-small{
                            height: 100%;
                            width: 25%;
                            padding-right: 2px;
                            img{
                                max-width: 100%;
                                max-height: 50px;
                            }
                        }
                    }
    
                }
               
                .name{
                    height: 10%;
                    width: 90%;
                    margin-bottom: 10px;
                    font-size: 1.25rem;
                }
                .price{
                    height: 5%;
                    width: 90%;
                    text-align: left;
                    font-size: 1.25rem;
                    font-style: italic;
                    margin-bottom: 10px;
    
                }
                .desc{
                    height: 20%;
                    width: 90%;
                    font-size: 1rem;
                    text-align: left;
                    padding-bottom: 15px;
                }
                .details{
                    height: 10%;
                    width: 90%;
                    font-size: 0.9rem;
                    font-style: italic;
                    padding-bottom: 25px;
    
                    p{
                        padding-bottom: 5px;
                    }
    
                }
            }
            .cart-option{
                height: 10%;
                width: 100%;
                margin-bottom: 2rem;
                button{
                    font-size: 1.1rem;
                }
            }
        }
    
        
        .similar-products{
            height: 30%;
            max-height: 400px;
            overflow: hidden;
            .similar-title{
                width: 100%;
                height: 20%;
                max-height: 125px;
                padding: 20px 0;


                h2{
                    font-size: 2rem;
                    width: 90%;
                }
            }
            .similar-container{
                height: 50%;
                width: 100%;
                max-height: 300px;
            }
        }
    }
}
@media screen and (min-width: 480px){
    .product-page{
        .product-container{
            height: 100%;
            width: 100%;
            min-height: 750px;
            max-height: 1000px;
            .product{
                width: 100%;
                height: 100%;
                min-height: 750px;
                .img-display{
                    height: 50%;
                    width: 90%;
                    .img-container{
                        img{
                            max-width: 100%;
                            max-height: 400px;
                        }
                    }
                    .img-extra{
                        margin: 0 auto;
                        margin-top: 3px;
                        height: 5%;
                        width: 90%;
                        .extra-small{
                            height: 100%;
                            width: 15%;
                            padding-right: 2px;
                            img{
                                max-width: 100%;
                                max-height: 75px;
                            }
                        }
                    }
    
                }
               
                .name{
                    height: 10%;
                    width: 90%;
                    margin-bottom: 10px;
                    font-size: 1.5rem;
                }
                .price{
                    height: 5%;
                    width: 90%;
                    font-size: 1.5rem;
                    margin-bottom: 10px;
    
                }
                .desc{
                    height: 20%;
                    width: 80%;
                    font-size: 1.2rem;
                    text-align: left;
                    padding-bottom: 15px;
                }
                .details{
                    height: 10%;
                    width: 90%;
                    font-size: 0.95rem;
    
                    p{
                        padding-bottom: 5px;
                    }
    
                }
            }
            .cart-option{
                height: 10%;
                width: 100%;
                margin-bottom: 2rem;
                button{
                    font-size: 1.1rem;
                }
            }
        }
    
        
        .similar-products{
            height: 30%;
            max-height: 450px;
            overflow: hidden;
            .similar-title{
                width: 100%;
                height: 20%;
                max-height: 140px;
                padding: 20px 0;
                h2{
                    height: 100%;
                    font-size: 2.5rem;
                    width: 90%;
                }
            }
            .similar-container{
                height: 50%;
                width: 100%;
                max-height: 350px;
            }
        }
    }
}


@media screen and (min-width: 576px){  
    .product-page{
        margin-top: $header-med;
        .similar-products{
            height: 30%;
            max-height: 550px;
            overflow: hidden;
            .similar-title{
                width: 100%;
                height: 20%;
                max-height: 100px;
                padding: 20px 0;


                h2{
                    font-size: 2.5rem;
                    width: 85%;
                }
            }
            .similar-container{
                height: 50%;
                width: 100%;
                max-height: 400px;
            }
        }
    }
}

@media screen and (min-width: 768px){
    .product-page{
        margin-top: $header-med;
        .product-container{
            height: 100%;
            width: 100%;
            min-height: 850px;
            max-height: 1200px;
            .product{
                width: 100%;
                height: 100%;
                min-height: 850px;
                .img-display{
                    height: 50%;
                    width: 90%;
                    .img-container{
                        img{
                            max-width: 100%;
                            max-height: 475px;
                        }
                    }
                    .img-extra{
                        margin: 0 auto;
                        margin-top: 10px;
                        height: 20%;
                        width: 90%;
                        .extra-small{
                            height: 100%;
                            width: 10%;
                            padding-right: 4px;
                            img{
                                max-width: 100%;
                                max-height: 90px;
                            }
                        }
                    }
    
                }
               
                .name{
                    height: 10%;
                    width: 90%;
                    margin-bottom: 10px;
                    font-size: 2rem;
                }
                .price{
                    height: 5%;
                    width: 90%;
                    font-size: 2rem;
                    margin-bottom: 10px;
    
                }
                .desc{
                    height: 20%;
                    width: 65%;
                    font-size: 1.3rem;
                    text-align: left;
                    padding-bottom: 25px;
                }
                .details{
                    height: 10%;
                    width: 90%;
                    font-size: 1.1rem;
                    padding-bottom: 25px;
                }
            }
            .cart-option{
                height: 10%;
                width: 100%;
                margin-bottom: 2rem;
                button{
                    font-size: 1.5rem;
                }
            }
        }
    
        
        .similar-products{
            height: 30%;
            max-height: 650px;
            overflow: hidden;
            .similar-title{
                width: 100%;
                height: 20%;
                max-height: 150px;
                padding: 20px 0;


                h2{
                    font-size: 3rem;
                    width: 80%;
                }
            }
            .similar-container{
                height: 50%;
                width: 100%;
                max-height: 600px;
            }
        }
      
    }
}
@media screen and (min-width: 992px){
    .product-page{
        margin-top: $header-large;
        .product-container{
            height: 100%;
            width: 100%;
            min-height: 700px;
            max-height: 750;

            .product{
                width: 100%;
                height: 100%;
                min-height: 700px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;

                .img-display{
                    height: 75%;
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    .img-container{
                        order: 2;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        min-height: 575px;
                        img{
                            max-height: 575px;
                            width: auto;
                            
                        }
                    }
                    .img-extra{
                        order: 1;
                        align-self: flex-start;
                        height: 100%;
                        width: 20%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;
                        padding-right: 5px;
                        .extra-small{
                            height: 100%;
                            width: 100%;
                            img{
                                max-width: 100%;
                                height: 75px;
                            }
                        }
                    }
    
                }

                .side-info{
                    width: 35%;
                    height: 70%;
                    max-height: 475px;
                    .name{
                        height: 10%;
                        width: 90%;
                        margin-bottom: 10px;
                        font-size: 1.5rem;
                    }
                    .price{
                        height: 5%;
                        width: 90%;
                        font-size: 1.75rem;
                        margin-bottom: 10px;
        
                    }
                    .desc{
                        height: 20%;
                        width: 75%;
                        font-size: 0.9rem;
                        text-align: left;
                        padding-bottom: 15px;
                    }
                    .details{
                        height: 10%;
                        width: 90%;
                        font-size: 0.7rem;
                        padding-bottom: 15px;
                    }
                    .cart-option{
                        height: 10%;
                        width: 100%;
                        margin-bottom: 2rem;
                        button{
                            font-size: 1.5rem;
                        }
                    }
               }
            }
            }
            
    
        
        .similar-products{
            height: 30%;
            max-height: 650px;
            overflow: hidden;
            .similar-title{
                width: 100%;
                height: 20%;
                max-height: 150px;
                padding: 20px 0;


                h2{
                    font-size: 3rem;
                    width: 80%;
                }
            }
            .similar-container{
                height: 50%;
                width: 100%;
                max-height: 600px;
            }
        }
      
    }
}
@media screen and (min-width: 1200px){
   
}
@media(min-width: 568px) and (max-height: 414px){
   
}

