@import './Colors';

.product-carousel{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        width: 100%;
        height: 90%;

        .product{
            width: 100%;
            height: 85%;
        }

        .controls{
            width: 100%;
            height: 15%;
            min-height: 35px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: $purple-dark;

            .arrow{
                width: 25%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                button{
                    border: none;
                    color: #fff;
                    background-color: transparent;
                    font-size: 1.5rem;
                }
            }

            .position{
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                button{
                    background-color: transparent;
                    border: none;
                }
                
                i{
                    padding: 0px 5px;
                    color: #803531;
                    &.active{
                        color: $primary-pink;
                    }
                }
            }
            
        }
    }
   
}



@media screen and (min-width: 350px){
    .product-carousel{
        width: 100%;
        height: 100%;
        .container{
            width: 100%;
            height: 90%;
    
            .product{
                width: 100%;
                height: 85%;
            }
    
            .controls{
                height: 45px;
                width: 100%;
                .arrow{
                    width: 25%;
                    height: 100%;

                    button{
                        font-size: 1.75rem;
                    }
                }
    
                .position{
                    width: 50%;
                    height: 100%;         
                    i{
                        font-size: 1.25rem;
                        padding: 0px 10px;
                    }
                }
                
            }
        }
       
    }
}

@media screen and (min-width: 480px){
    .product-carousel{
        .container{
            .controls{
                height: 50px;
                .arrow{
                    width: 25%;
                    button{
                        font-size: 2rem;
                    }
                }
    
                .position{
                    width: 30%;
                    height: 100%;         
                    i{
                        font-size: 1.5rem;
                        padding: 0px 10px;
                    }
                }
                
            }
        }
       
    }
}


@media screen and (min-width: 576px){
   
}
@media screen and (min-width: 768px){
    .product-carousel{
        .container{
            .controls{
                height: 75px;
                .arrow{
                    width: 25%;
                    button{
                        font-size: 2.5rem;
                    }
                }
    
                .position{
                    width: 25%;
                    height: 100%;         
                    i{
                        font-size: 1.75rem;
                        padding: 0px 10px;
                    }
                }
                
            }
        }
       
    }
}
@media screen and (min-width: 992px){
   
}
@media screen and (min-width: 1200px){
   
}
@media(min-width: 568px) and (max-height: 414px){
   
}