@import './Colors';

.products{
    overflow: hidden;
    height: 100%;
    width: 100%;
    .products-container{
        margin-top: 75px;
        height: 100%;
        width: 100%;
        // max-height: 650px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .product-title{
            width: 100%;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .catagories{
            height: 10vh;
            max-height: 35px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: $primary-pink;
            button{
                width: 34%;
                height: 100%;
                text-align: center;
                font-weight: 600;
                border-radius: 0px;
                padding: 0;
                background-color: transparent;

                &.active{
                    background-color: $primary-gold;
                }

            }
        }

        .products-listed{
            margin: 1rem 0;
            height: 150vh;
            max-height: 725px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, minmax(50px, 125px));
            grid-template-rows: minmax(100px, 135px);
            column-gap: 10px;
            transition: all 500ms ease-in-out;
            justify-content: center;

            &.sticker{
                max-height: 450px;
            }
            &.print{
                max-height: 300px;
            }

            .product-item{
                width: 100%;
                height: 100%;
                border: none;
                cursor: pointer;
                max-height: 135px;
                justify-self: center;
                align-self: center;
            }
        }

    }
}