.similar-product{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .similar-product-container{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .image{
            width: 50%;
            height: 80%;

            img{
                max-width: 100%;
            }
        }

        .info{
            width: 40%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            p{
                font-size: 0.9rem;
                margin-bottom: 1rem;
                text-align: center;
            }
            button{
                padding: 10px 15px;
                background-color: purple;
                color: #fff;
                border: none;
                border-radius: 5px;            
            }
        }
    }

    
    &.odd{
        background-color: #f4f4f4;
    }
    &.even{
        background-color: #e2dddd;

        .similar-product-container{
            .image{
                order: 1;
            }
        }
    }

}