body {
  font-family: 'Montserrat', sans-serif;

    /* OpenSans or Montserrat */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdedee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button{
  border: none;
  /* background-color: #F15F57;
  padding: 5px 20px; */
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

button:focus {outline:0;}
