body {
  font-family: 'Montserrat', sans-serif;

    /* OpenSans or Montserrat */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}